{% extends 'dashboard/layout.html' %}
{% import 'macros.html' as macros %}
{% block main %}
    <div class="mdl-grid">
        <div class="mdl-cell--4-col"></div>
        <div class="mdl-cell--4-col">
            <form method="POST" action="{{ url_for('dashboard.add_measurement') }}">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ macros.generate_input(form.weight) }}
                </div><br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ macros.generate_input(form.height) }}
                </div><br><br>
                <div>
                    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" name="submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}